<a href="https://colab.research.google.com/github/JColeman1550/BASEBALL/blob/main/2017_MLB_DATA_MUNGING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', None)
pd.set_option('chained.assignment', None)

In [5]:
%%capture
%pip install pybaseball
import pybaseball as pyb

In [6]:
df_2017 = pyb.batting_stats(2017)

df_2017 = df_2017.loc[:, :'WAR']

df_2017.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,BUH%,wOBA,wRAA,wRC,Bat,Fld,Rep,Pos,RAR,WAR
1,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,0.00,0.430,62.5,145,61.7,6.1,21.0,-7.5,83.6,8.3
6,5417,2017,Jose Altuve,HOU,27,153,590,662,204,137,...,0.75,0.405,47.0,128,48.7,-1.1,20.5,1.9,76.1,7.6
4,4949,2017,Giancarlo Stanton,MIA,27,159,597,692,168,77,...,0.00,0.410,52.3,137,51.7,8.3,21.4,-7.2,73.2,7.3
0,10155,2017,Mike Trout,LAA,25,114,402,507,123,62,...,0.00,0.437,49.6,111,50.4,-4.4,15.7,1.0,68.3,6.8
9,15429,2017,Kris Bryant,CHC,25,151,549,665,162,91,...,0.00,0.399,43.9,125,39.8,-0.6,20.6,1.7,67.6,6.7

In [7]:
df_2017.tail()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,BUH%,wOBA,wRAA,wRC,Bat,Fld,Rep,Pos,RAR,WAR
127,10349,2017,Tommy Joseph,PHI,25,142,495,533,119,69,...,0.000,0.305,-7.0,58,-10.7,-3.8,16.5,-9.2,-10.4,-1.0
137,589,2017,Carlos Beltran,HOU,40,129,467,509,108,65,...,0.000,0.283,-16.1,46,-14.8,0.7,15.7,-12.0,-11.5,-1.1
132,6876,2017,Mark Trumbo,BAL,31,146,559,603,131,86,...,0.000,0.295,-13.2,60,-15.4,-3.9,18.6,-13.4,-13.0,-1.3
141,12282,2017,Rougned Odor,TEX,23,162,607,651,124,70,...,0.667,0.272,-26.8,53,-35.0,-4.8,20.1,2.1,-13.7,-1.4
136,1177,2017,Albert Pujols,LAA,37,149,593,636,143,103,...,0.000,0.286,-18.8,59,-17.9,-1.5,19.7,-15.9,-19.8,-2.0